/!DS!
/!Work!
/!Install!
/bin/carnumdetect.ini
/bin/*.bsc
/bin/vclFaceRecogData
/bin/StereoSample/Aloe/*.png
/bin/StereoSample/Aloe/dmin.txt
/bin/Result/*.*
/opencv_classes/opencv_classes.sdf
Win32
__history
Debug
Release
ipch
lib
*.bsc
*.pgm
*.~*
*.dcu
*.local
*.exe
*.dsk
*.identcache
*.tvsconfig
*.skincfg
*.otares
*.drc
*.jdbg
*.map
*.log
*.tlog
*.lastbuildstate
*.exp
*.ilk
*.lib
*.pdb
*.suo
*.vlb
*.sdf
eng.*