#Directories
buildtest
backup/
__history/
__recovery/
Debug/
Release/
ipch/
lib/
packages/Lazarus/
/resource/result/*.*
CVAutoInstaller/

!InitDelphiFFMPEG.cmd
!/CheckCVDep/CheckCVDep.exe
!opencv_classes*.dll
!opencv_classes*.dll

#ResourceFiles
/resource/stereosample/Aloe/*.png
/resource/stereosample/Aloe/dmin.txt

#Files
*.exe
#*.dll
*.ini
*.bsc
*.sdf
*.bsc
*.pgm
*.~*
*.dcu
*.local
*.dsk
*.identcache
*.tvsconfig
*.skincfg
*.otares
*.drc
*.jdbg
*.map
*.log
*.tlog
*.lastbuildstate
*.exp
*.ilk
*.lib
*.pdb
*.suo
*.vlb
*.sdf
*.rsm
*.local
*.identcache 
*.cmd
*.stat
*.iobj
*.ipdb
*.db
*.user
*.filters
*.user