__history
Debug
Release
ipch
lib
/resource/result/*.*
*.ini
*.bsc
*.sdf
*.bsc
*.pgm
*.~*
*.dcu
*.local
/bin/Win32/*.exe
/bin/Win64/*.exe
*.dsk
*.identcache
*.tvsconfig
*.skincfg
*.otares
*.drc
*.jdbg
*.map
*.log
*.tlog
*.lastbuildstate
*.exp
*.ilk
*.lib
*.pdb
*.suo
*.vlb
*.sdf
*.rsm
*.local
*.identcache 
*.cmd
