// Created uCompressHaar.exe
HEYE RCDATA "haarcascade_eye.xml.z"
HEYETREEEYEGLASSES RCDATA "haarcascade_eye_tree_eyeglasses.xml.z"
HFFALT RCDATA "haarcascade_frontalface_alt.xml.z"
HFFALT2 RCDATA "haarcascade_frontalface_alt2.xml.z"
HFFALTTREE RCDATA "haarcascade_frontalface_alt_tree.xml.z"
HFFDEFAULT RCDATA "haarcascade_frontalface_default.xml.z"
HFULLBODY RCDATA "haarcascade_fullbody.xml.z"
HLEYE2SPLITS RCDATA "haarcascade_lefteye_2splits.xml.z"
HLOWERBODY RCDATA "haarcascade_lowerbody.xml.z"
HMEYEPAIRBIG RCDATA "haarcascade_mcs_eyepair_big.xml.z"
HMEYEPAIRSMALL RCDATA "haarcascade_mcs_eyepair_small.xml.z"
HMLEAR RCDATA "haarcascade_mcs_leftear.xml.z"
HMLEYE RCDATA "haarcascade_mcs_lefteye.xml.z"
HMMOUTH RCDATA "haarcascade_mcs_mouth.xml.z"
HMNOSE RCDATA "haarcascade_mcs_nose.xml.z"
HMREAR RCDATA "haarcascade_mcs_rightear.xml.z"
HMREYE RCDATA "haarcascade_mcs_righteye.xml.z"
HMUPPERBODY RCDATA "haarcascade_mcs_upperbody.xml.z"
HPROFILEFACE RCDATA "haarcascade_profileface.xml.z"
HREYE2SPLITS RCDATA "haarcascade_righteye_2splits.xml.z"
HSMILE RCDATA "haarcascade_smile.xml.z"
HUPPERBODY RCDATA "haarcascade_upperbody.xml.z"
