HCFFA RCDATA "..\\bin\\facedetectxml\\haarcascade_frontalface_alt.xml"
HCFFAT RCDATA "..\\bin\\facedetectxml\\haarcascade_frontalface_alt_tree.xml"
HCFFA2 RCDATA "..\\bin\\facedetectxml\\haarcascade_frontalface_alt2.xml"
HCFFD RCDATA "..\\bin\\facedetectxml\\haarcascade_frontalface_default.xml"
